<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'create' %}">create</a>


<center> 


    

<table width="60%">

<tr>
    <th>  ID  </th>
    <th>  name  </th>
    <th> age </th>

</tr>


{% for i in all%}
<tr>
 <td>   {{i.id}}  </td>
<td>   {{i.name}}  </td>
<td>   {{i.age}}  </td>

<td> <a href={% url 'read' i.id %}> Read </a></td>

  <td> <a href={% url 'delete' i.id %}> delete </a>  </td>
 <td> <a href={% url 'update' i.id %}> update </a>  </td>

</tr>
{% endfor %}

</table>

</center>




</body>
</html>